<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NlogViewer" />
  </extensions>
  <targets>
    <target xsi:type="Network" name="net" address="udp://127.0.0.1:4001" 
            layout="${date} | ${level:uppercase=true}&#x9;| ${logger}&#x9;| ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="net"  />
  </rules>
</nlog>